@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    border: 8px solid transparent;
    background-image: url('/assets/img/bg_wood_yellow.png'),
      linear-gradient(#ec9355, #dc7737);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .shadow-controller {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a2573b;
    /* box-shadow 적용 시 잔상이 생기는 이슈가 있어서 일단 제외 */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  }
}

html {
  line-height: 1;
}

ul,
ol,
li {
  list-style: none;
}
